<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- 引入 Vue.js 和 Element-UI -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>
    .logo{
        height: 20px; /* 设置标题高度为24像素 */
        font-family: Arial, sans-serif; /* 字体 */
        font-size: 18px; /* 字体大小 */
        color: #007BFF; /* 字体颜色 */
        text-align: left; /* 对齐方式 */
        margin-top: 12px; /* 距离顶部的间距 */
        border-bottom: 1px solid #000000; /* 添加下边框 */
        border-bottom-color: #007BFF; /* 改变下边框颜色为红色 */
        width: 10%; /* 设置标题宽度为100% */
        padding-bottom: 10px; /* 设置标题与下边框之间的间隔 */
    }
    .refresh{
        float: right;
    }
    #app {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
    }
</style>
<body>
<div id="app">
    <div class="logo">
        <label>隐患清单</label>

    </div>
    <div>

        <label>隐患来源：</label>
        <div  style="display:inline-block;">
        <el-select size="small" v-model="origin" placeholder="请选择">
            <el-option label="不限" value="不限"></el-option>
            <el-option label="检查表检查" value="检查表检查"></el-option>
            <el-option label="依据检查" value="依据检查"></el-option>
            <el-option label="随手拍" value="随手拍"></el-option>
        </el-select>
        </div>

        <label>隐患性质:</label>
        <div  style="display:inline-block;">
        <el-select size="small" v-model="quality" placeholder="请选择">
            <el-option label="不限" value="不限"></el-option>
            <el-option label="一般隐患" value="一般隐患"></el-option>
            <el-option label="重大隐患" value="重大隐患"></el-option>
        </el-select>
        </div>
        <label>隐患状态:</label>
        <div size="small" style="display:inline-block;">
        <el-select v-model="state" placeholder="请选择">
            <el-option label="不限" value="不限"></el-option>
            <el-option label="一般隐患" value="一般隐患"></el-option>
            <el-option label="重大隐患" value="重大隐患"></el-option>
        </el-select>
        </div>
    </div>
    <div>
        <label>任务名称：</label>
        <div  style="display:inline-block;">
            <el-input v-model="name" placeholder="任务名称"></el-input>
    </div>
        <el-button
                type="primary"
                size="small"
                icon="el-icon-search">
            搜索
        </el-button>
        <div class="refresh" >
            <el-button type="primary" size="small" @click="handleDownload">
                excel导出表格
            </el-button>
        <el-button plain size="small" onclick="javascript:location.reload()" icon="el-icon-refresh">刷新</el-button>


        </div>
        <template>
        <el-table
                ref="multipleTable"
                :data="tableData"
                stripe
                style="width: 100%"
                max-height="700"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    fixed
                    prop="reason"
                    label="隐患原因"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="taskName"
                    label="任务名称"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="company"
                    label="被检查公司"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="state"
                    label="隐患状态"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="quality"
                    label="隐患性质"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="check_people"
                    label="检查人"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="check_time"
                    label="检查时间"
                    width="120">
            </el-table-column>
                <el-table-column
                        prop="origin"
                        label="隐患来源"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="rectify_people"
                        label="整改人"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="rectify_time"
                        label="整改时间"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="reviewers"
                        label="复查人"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="review_time"
                        label="复查时间"
                        width="120">
                </el-table-column>

            <el-table-column
                    fixed="right"
                    label="操作"
                    width="200">
                <template slot-scope="scope">
                    <el-button size="small" type="danger" icon="el-icon-delete" @click="deletecheck(scope.row)">删除</el-button>
                    <el-button
                            type="primary"
                            size="small"
                            @click="open1">
                        详情
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
</div>
</body>
<script>
    new Vue({
            el: '#app',
        methods: {
            getAllcheck() {
                // 发起HTTP请求，获取数据
                axios.get('/allcheck')
                    .then(response => {
                        // 将从后端获取的数据赋值给tasks[]属性
                        this.tableData = response.data;
                    })
                    .catch(error => {
                        console.error('获取任务时发生错误', error);
                        console.log('完整的错误响应:', error.response);
                    });
            },
            deletecheck(task) {
                axios.delete('/deletecheck', { data: task })
                    .then(response => {
                        // 处理成功的情况，例如更新UI
                        console.log("成功删除任务");
                        // 可选：更新本地数据以反映删除
                        const index = this.tableData.indexOf(task);
                        if (index !== -1) {
                            this.tableData.splice(index, 1);
                        }
                    })
                    .catch(error => {
                        // 处理错误
                        console.error("删除任务时出错：", error);
                    });
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
        },
        mounted() {
            this.getAllcheck();
        },
        data() {
            return {
                tableData: [],
            }
        },
        }
    )
</script>
</html>