<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Login and Registration</title>
    <style>
        body {
            background:#888888;
        }

        .login {
            height: 100vh;
            display: flex;
            justify-content: right;
            align-items: center;
        }

        .login-title {
            font-size: 20px;
        }

        .register {
            height: 100vh;
            display: flex;
            justify-content: right;
            align-items: center;
        }

        .register-title {
            font-size: 20px;
        }

        .box-card {
            width: 400px;
            margin-right: 200px;
        }
    </style>
</head>
<body>
<div id="login">
    <div class="login">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span class="login-title">登录</span>
            </div>
            <div class="login-form">
                <el-form :model="form" :rules="loginRules" ref="loginForm">
                    <el-form-item prop="name">
                        <el-input type="text" name="name" v-model="form.name" auto-complete="off" placeholder="请输入用户名" required>
                            <template slot="prepend"><i style="font-size:20px" class="el-icon-user"></i></template>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" name="password" v-model="form.password" auto-complete="off" placeholder="请输入密码" required>
                            <template slot="prepend"><i style="font-size:20px" class="el-icon-key"></i></template>
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button style="width: 210px;" type="primary" @click="handleLogin"
                                   :loading="loading">登录</el-button>
                        <el-button style="width: 110px;" @click="showRegistrationForm()">注册</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    </div>
</div>

<div id="register">
<div class="register">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span class="login-title">注册</span>
            </div>
            <div class="register-form">
                <el-form :model="form" :rules="registerRules" ref="registerForm">
                    <el-form-item prop="username">
                        <el-input type="text" name="name" v-model="form.username" auto-complete="off" placeholder="请输入用户名" required>
                            <template slot="prepend"><i style="font-size:20px" class="el-icon-user"></i></template>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input type="password" name="password" v-model="form.password" auto-complete="off" placeholder="请输入密码" required>
                            <template slot="prepend"><i style="font-size:20px" class="el-icon-key"></i></template>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="password_confirm">
                        <el-input type="password" name="password_confirm" v-model="form.password_confirm" auto-complete="off" placeholder="请检验您的密码" @blur="checkPassword" required>
                            <template slot="prepend"><i style="font-size:20px" class="el-icon-key"></i></template>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="auth_code">
                        <el-input type="text" name="auth_code" v-model="form.auth_code" auto-complete="off" placeholder="请输入校验码" required>
                            <template slot="prepend"><i style="font-size:20px" class="el-icon-lock"></i></template>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="identity">
                        <el-radio-group v-model="form.identity" required>
                            <el-radio :label="1">巡查员</el-radio>
                            <el-radio :label="2">管理人员</el-radio>
                            <el-radio :label="3">企业人员</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item>
                        <el-button style="width: 210px;" type="primary" @click="handleRegister"
                                   :loading="loading">注册</el-button>
                        <el-button style="width: 110px;" @click="showLoginForm()">登录</el-button>
                    </el-form-item>

                </el-form>
            </div>
        </el-card>
    </div>
</div>
</body>

<script src="https://unpkg.com/qs@6.11.1/dist/qs.js"></script>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    new Vue({
        el: '#login',
        data: {
            loading: false,
            form: {
                name: '',
                password: ''
            },
            loginRules: {
                username: [
                    { required: true, message: '请输入账户', trigger: 'blur' },
                ],
                password: [
                    { required: true, message: '请输入密码', trigger: 'blur' }
                ]
            },
        },
        methods: {
            handleLogin() {
                const formData = {
                    name: this.form.name,
                    password: this.form.password
                }
                axios.post('/loginIn', formData // 直接发送 formData 对象
                ).then(res => {
                    this.loading = false;
                    console.log('Status', res.status);
                    console.log(res.data)
                    //显示状态码

                    if (res.status === 200) { // 登录成功
                        this.$message({
                            message: '登录成功',
                            type: 'success'
                        });
                        window.location.href = "/main"
                    } else {
                        this.$message({
                            message: '登录失败',
                            type: 'warning'
                        });
                    }
                }, err => {
                    this.loading = false;
                    this.$message({
                        message: err.message,
                        type: 'warning'
                    });
                    console.log(err);
                })
            },
            showRegistrationForm() {
                document.getElementById("login").style.display = "none";
                document.getElementById("register").style.display = "block";
            }
        }
    })

    new Vue({
        el: '#register',
        data:{
            return:{
                selected : false,
            },
            loading: false,
            form: {
                username: '',
                password: '',
                password_confirm: '',
                auth_code: '',
                identity : ''
            },
            registerRules: {
                username: [
                    { required: true, message: '请输入用户名', trigger: 'blur' },
                ],
                password: [
                    { required: true, message: '请输入您的密码，长度在6-20个字符', trigger: 'blur' },
                    { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' },
                ],
                password_confirm: [
                    { required: true, message: '请确认您的密码', trigger: 'blur' },
                ],
                auth_code: [
                    { required: true, message: '请输入校验码', trigger: 'blur' },
                ],
                identity: [
                    { required: true, message: '请选择您的身份', trigger: 'blur' },
                ]
            },
        },
        methods: {
            handleRegister() {
                this.$refs.registerForm.validate().then(() => {
                    this.loading = true;
                    const formData = {
                        username: this.form.username,
                        password: this.form.password,
                        password_confirm: this.form.password_confirm,
                        auth_code: this.form.auth_code,
                        identity: this.form.identity
                    }
                    axios.post('/loginIn', Qs.stringify(formData)
                    ).then(res => {
                        this.loading = false;
                        console.log(res.data)
                        if (res.data.code === 200) { // 登录成功
                            this.$message({
                                message: '注册成功',
                                type: 'success'
                            });
                            window.location.href = "/main.html"
                        } else {
                            this.$message({
                                message: '注册失败',
                                type: 'warning'
                            });
                        }
                    }, err => {
                        this.loading = false;
                        this.$message({
                            message: res.data.msg,
                            type: 'warning'
                        });
                        console.log(err);
                    })

                }).catch((error => {
                    console.log(error)
                    this.$message({
                        message: '输入错误！',
                        type: 'warning'
                    });
                }))
            },
            showLoginForm() {
                document.getElementById("login").style.display = "block";
                document.getElementById("register").style.display = "none";
            },
            checkPassword() {
                if (this.form.password !== this.form.password_confirm) {
                    this.$message({
                        message: '两次输入的密码不一致,请重新输入！',
                        type: 'warning'
                        //删除
                    });
                    this.form.password_confirm = '';
                }
            }
        }
    })
</script>
</html>
