<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f0f0f0;
            padding: 10px;
        }

        .logo {
            font-size: 18px;
        }

        .login-button {
            text-decoration: none;
            color: #333;
        }
        .content {
            /* 调整样式以使内容容器更大 */
            padding: 200px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        .parent-container {
            display: flex;
            flex-direction: column; /* 设置为垂直方向 */
        }
    </style>
</head>

<body>
<div class="navbar">
    <div class="logo">苏州市安全生产委员会网格化巡查系统</div>
    <a href="login" class="login-button">
        <span id="username-placeholder" th:text="${tn} ? ${tn} : '未登录'"></span>
    </a>
</div>

<div id="app" >
        <el-row class="tac">
            <el-col :span="4">
                <el-menu
                        default-active="2"
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose"
                        :collapse="isCollapse">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>导航一</span>
                        </template>
                        <el-menu-item-group>
                            <template slot="title">分组一</template>
                            <el-menu-item index="1-1" @click="switchPage('/login')">选项1</el-menu-item>
                            <el-menu-item index="1-2"  @click="switchPage('/task')">选项2</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="分组2">
                            <el-menu-item index="1-3">选项3</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="1-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="1-4-1">选项1</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-menu"></i>
                        <span slot="title">导航二</span>
                    </el-menu-item>

                    <el-menu-item index="3" disabled>
                        <i class="el-icon-document"></i>
                        <span slot="title">导航三</span>
                    </el-menu-item>

                    <el-menu-item index="4">
                        <i class="el-icon-setting"></i>
                        <span slot="title">导航四</span>
                    </el-menu-item>
                </el-menu>
            </el-col>


            <el-col :span="18" class="parent-container">
                <div class="content">

                </div>
            </el-col>
        </el-row>
    </div>

</body>
<!-- import Vue before Element -->
<script>
    export default {
    }
</script>

<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        },
        mounted() {
            // 在组件挂载后执行的代码
            var tn = tnValue; // 使用服务器端传递的值
            this.updateUsername(tn);
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            switchPage(pageName) {
                const content = document.querySelector('.content');
                fetch(pageName)
                    .then(response => response.text())
                    .then(data => {
                        content.innerHTML = data;
                        // 在页面加载后重新初始化图片轮播功能
                        initializeSlideshow();
                    });
            },
            show(pageId) {
                const tent = document.querySelector('.tent');
                fetch(pageId)
                    .then(response => response.text())
                    .then(data => {
                        tent.innerHTML = data;
                    });
            }

        }
    })
</script>
<script>
    function show(pageId) {
        const tent = document.querySelector('.tent');
        fetch(pageId)
            .then(response => response.text())
            .then(data => {
                tent.innerHTML = data;
            });
    }

    function updateUsername(tn) {
        if (tn) {
            $("#username-placeholder").text(tn);
        } else {
            $("#username-placeholder").text("未登录");
        }
    }
    $(document).ready(function() {
        var tn = tnValue; // 使用服务器端传递的值
        updateUsername(tn);
    });
</script>
</html>