<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- 引入 Vue.js 和 Element-UI -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/wangEditor/10.0.13/fonts/w-e-icon.woff">
    <link href="https://cdn.bootcdn.net/ajax/libs/wangEditor/10.0.13/wangEditor.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/wangEditor/10.0.13/wangEditor.css" rel="stylesheet">

</head>
<style>
    .logo{

        height: 24px; /* 设置标题高度为24像素 */
        font-family: Arial, sans-serif; /* 字体 */
        font-size: 24px; /* 字体大小 */
        color: #007BFF; /* 字体颜色 */
        text-align: left; /* 对齐方式 */
        margin-top: 20px; /* 距离顶部的间距 */
        border-bottom: 1px solid #000000; /* 添加下边框 */
        border-bottom-color: #007BFF; /* 改变下边框颜色为红色 */

        padding-bottom: 35px; /* 设置标题与下边框之间的间隔 */
    }

    .input-bar{
        padding:8px;
    }

    .search-input {
        width: 30%; /* 设置搜索框的宽度，可以根据需要调整 */
    }
    .circle-select{
        padding: 10px;

    }
    .vice{
        padding: 10px;
    }

    .form-item-flex label {
        white-space: nowrap; /* label文字不换行 */
        /*flex-shrink: 0; !* 防止label缩小，保持原始宽度 *!*/
        /*width: 100px; !* 设置label的宽度 *!*/
        /*margin-right: 10px; !* 可选：添加一些右侧间距 *!*/
    }
    .form-item-flex span {
        margin-right: 5px;
    }
    .toolbar {
        border: 1px solid #ccc;
    }

    .text {
        border: 1px solid #ccc;
        height: 500px;
    }
    .btn {
        padding-left: 10px; /* 增加内边距来减小间距 */
    }
    .rounded-checkbox {
        border: 2px solid #000;
        border-radius: 50%; /* 设置边框为圆形 */
        width: 20px; /* 设置宽度 */
        height: 20px; /* 设置高度 */
    }
</style>


<body>
<div id="app">

    <!-- 任务和实施选项 -->
    <div class="logo">
        <label>信息中心>发布通知</label>

    </div>
    <!-- 任务状态和任务时效下拉框 -->

    <div class="input-bar">
        <label style="padding-left:2px">通知标题:</label>
        <el-input  class="search-input"   placeholder="请输入通知标题" style="width:900px"></el-input>
        <label>通知编号:</label>
        <el-input  class="search-input"  placeholder="请输入通知编号"  style="width: 200px"></el-input>
    </div>
    <div class="circle-select" style="display: flex; align-items: center;">
        <label>通知类型:</label>
        <input type="checkbox" id="option1" class="rounded-checkbox" name="option1" value="option1">
        <label for="option1"> 普通通知</label><br>
        <input type="checkbox" id="option2"  class="rounded-checkbox"  name="option2" value="option2">
        <label for="option2"> 会议通知</label><br>
        <input type="checkbox" id="option3" class="rounded-checkbox" name="option1" value="option3">
        <label for="option1"> 普通通知</label><br>
        <input type="checkbox" id="option4" class="rounded-checkbox" name="option2" value="option4">
        <label for="option2"> 会议通知</label><br>

        <label style="margin-left: 100px;">安全级别:</label>
        <label>
            <input type="radio" name="option5" value="option5">
            <span class="radio">公开&nbsp</span>

        </label>
        <label>
            <input type="radio" name="option6" value="option6">
            <span class="radio">机密&nbsp</span>

        </label>
        <label style="margin-left: 100px">紧急度:</label>
        <label>
            <input type="radio" name="option7" value="option7">
            <span class="radio">低&nbsp</span>

        </label>
        <label>
            <input type="radio" name="option8" value="option8">
            <span class="radio">中&nbsp</span>

        </label>
        <label>
            <input type="radio" name="option9" value="option9">
            <span class="radio">高&nbsp</span>

        </label>
    </div>
    <div class="vice">
        <label>副标题:</label>
        <el-input  class="search-input"   placeholder="请输入副标题" style="width:1200px"></el-input>
    </div>
    <div class="container-fluid">
        <!--    顶部导航栏-->
        <div class="row">
            <label style="padding: 20px;padding-left:10px">通知内容:</label>
            <div class="col-md-6" style="padding-left:0px">
                <div class="card-body" style="min-height: 100px">
                    <div style="padding:0; color: #ccc"></div>
                    <div id="div1" class="toolbar">
                    </div>
                    <div id="div2" class="text"> <!--可使用 min-height 实现编辑区域自动增加高度-->
                            <!--                        <p>请输入内容</p>-->
                    </div>

                    <div class="row" style="padding: 10px" >

                        <div class="col-md-3 ml-0" style="padding: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-primary" id="publishBtn" >发布并预览</button>
                        </div>
                        <div class="col-md-3 ml-0"  style="padding: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-primary" id="reserve">保存</button>
                        </div>
                        <div class="col-md-3"  style="padding: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-light">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // import EditForm from './EditForm.vue';
    // import Table from './Table.vue';
    //
    new Vue({
        el: '#app',

        data() {
            return {
                taskStatus: '不限',
                taskDeadline: '不限',
                selectedDate: '',
                search: '',
                temporaryTaskDialogVisible: false,
                temporaryTaskForm: {
                    inspectionType: [],
                    taskName: '',
                    inspectionRequirement: '',
                    checkedcompany:'',
                    checker:'',
                    date:[],
                    startDate: '',
                    endDate: '',
                    checktimes:[],
                },
                pickerOptions: {
                    shortcuts: [
                        {
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                // start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', [start, end]);
                            }
                        }
                    ]
                },
                tasks: [] , // 获取数据库中所有任务的数组

                editDialogVisible: false,
                editedTask: {},

                currentPage: 1, // 当前页数
                pageSize: 2, // 每页显示的记录数

                dialogVisible: false,//检察人员弹窗

                currentTab: 'government', // 默认选中政府
                searchForm: {
                    keyword: '',
                },
                tableData:[], // 表格数据
                Page: 1, // 当前页数
                Size: 2, // 每页显示的记录数
            };
        },
        mounted() {
            this.getAllTasks();
            this.getAllofficial();
        },
        computed: {
            // 对tasks[]数组进行分页的设置
            tasksPage() {
                // 根据currentPage和pageSize计算分页后的数据
                const startIndex = (this.currentPage - 1) * this.pageSize;
                const endIndex = startIndex + this.pageSize;
                return this.tasks.slice(startIndex, endIndex);
            },
            // 对tableData[]数组进行分页的设置
            tableDataPage() {
                const Index = (this.Page - 1) * this.Size;
                const end = Index + this.Size;
                return this.tableData.slice(Index, end);
            }
        },
        methods: {
            //第一个弹窗的方法
            getAllTasks() {
                // 发起HTTP请求，获取数据
                axios.get('/all')
                    .then(response => {
                        // 将从后端获取的数据赋值给tasks[]属性
                        this.tasks = response.data;
                    })
                    .catch(error => {
                        console.error('获取任务时发生错误', error);
                        console.log('完整的错误响应:', error.response);
                    });
            },
            //获取所有检查人方法
            getAllofficial(){
                axios.get('/allofficial')
                    .then(response => {
                        // 将从后端获取的数据赋值给tasks[]属性
                        this.tableData = response.data;
                    })
                    .catch(error => {
                        console.error('获取任务时发生错误', error);
                        console.log('完整的错误响应:', error.response);
                    });
            },
            //tasks[]中的分页方法，获取每页显示几条记录的pageSize和当前页数的currentPage
            handleSizeChange(val) {
                this.pageSize = val;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
            },
            //tableData[]中的分页方法，获取每页显示几条记录的Size和当前页数的Page
            SizeChange(val) {
                this.Size = val;
            },
            CurrentChange(val) {
                this.Page = val;
            },
            searchTasks() {
                // 处理搜索逻辑
                console.log('Searching tasks...');
            },
            reset() {
                // 重置表单
                this.search = '';
            },
            editTask(task) {
                this.editedTask = { ...task }; // 使用浅拷贝以防止直接修改原始数据
                this.editDialogVisible = true;
            },
            saveEditedTask() {
                // 发送编辑后的数据到后端
                axios.post('/updateTask', this.editedTask)
                    .then(response => {
                        // 处理保存成功的逻辑
                        this.editDialogVisible = false;
                        this.getAllTasks();
                    })
                    .catch(error => {
                        // 处理保存失败的逻辑
                        console.log(this.editedTask);
                        console.error('保存失败：', error);
                    });
            },
            updateTableContent() {
                // 更新表格内容的方法
                this.getAllTasks();
            },
            handleEditDialogClose(done) {
                // 处理对话框关闭的逻辑，比如重置表单
                done();
            },
            viewTask(task) {
                // 查看任务的逻辑
                console.log("View task:", task);
            },
            deleteTask(task) {
                // 删除任务的逻辑
                // 使用Axios发送删除请求
                axios.delete('/deleteTask', { data: task })
                    .then(response => {
                        // 处理成功的情况，例如更新UI
                        console.log("成功删除任务");
                        // 可选：更新本地数据以反映删除
                        const index = this.tasksPage.indexOf(task);
                        if (index !== -1) {
                            this.tasksPage.splice(index, 1);
                        }
                    })
                    .catch(error => {
                        // 处理错误
                        console.error("删除任务时出错：", error);
                    });
            },
            openTemporaryTaskDialog() {
                this.temporaryTaskDialogVisible = true;
            },
            // 提交发起临时任务表单
            submitTemporaryTaskForm() {
                // 在这里处理提交逻辑，例如发送请求
                // 提交成功后关闭弹窗
                axios.post('/addTask', this.temporaryTaskForm)
                    .then(response => {
                        // 处理保存成功的逻辑
                        this.temporaryTaskDialogVisible = false;
                        this.getAllTasks();
                    })
                    .catch(error => {
                        // 处理保存失败的逻辑
                        console.log(this.editedTask);
                        console.error('保存失败：', error);
                    });
            },
            exportList(){
                // 创建一个隐藏的表单元素
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = '/table'; // 表单提交的目标 URL
                document.body.appendChild(form);
                form.submit();
            },
            //第二个弹窗的方法
            openDialog() {
                console.log('openDialog called');
                this.dialogVisible = true;
            },
            closeDialog() {
                this.dialogVisible = false;
            },
            submitTaskForm(){
                this.dialogVisible = false;

            },
            // confirmSelection() {
            //     // 将选择的内容拼接到单行框中，这里可以根据需求进行调整
            //     this.temporaryTaskForm.inspectionRequirement = this.selectedItems.join(', ');
            //     this.dialogVisible = false;
            // },
            handleTabClick(tab) {
                // 切换选项卡时，可以在这里根据选项卡的名称请求对应的数据，更新表格内容
                this.currentTab = tab.name;
                this.fetchTableData();
            },
            search() {
                // 根据关键词搜索
                // 更新表格内容
            },
            resetSearch() {
                // 重置搜索条件
                // 更新表格内容
            },
            handleButtonClick(row) {
                row.used = !row.used;
                if (row.used) {
                    // 如果行被标记为已使用，将人员姓名添加到检查人单行框中
                    this.temporaryTaskForm.inspector += (this.temporaryTaskForm.inspector ? ',' : '') + row.name;
                } else {
                    // 如果行被标记为未使用，将人员姓名从检查人单行框中删除
                    const inspectorNames = this.temporaryTaskForm.inspector.split(',');
                    const indexToRemove = inspectorNames.indexOf(row.name);
                    if (indexToRemove !== -1) {
                        inspectorNames.splice(indexToRemove, 1);
                        this.temporaryTaskForm.inspector = inspectorNames.join(',');
                    }
                }
                // 清空单行框的背景颜色
                this.$refs.inspectorInput.$children[0].$el.style.backgroundColor = '';
            },
            fetchTableData() {
                // 根据选项卡名称请求对应的表格数据
            },
            // submitTemporaryTaskForm() {
            //     // 提交表单逻辑
            // },
        }
    });
</script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(function () {
        //富文本编辑器初始化代码
        var E = window.wangEditor;
        var editor = new E('#div1', '#div2');

        editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
        editor.create();

        //创建replaceAll()函数,用于替换字符串中出现的所有某个字符
        String.prototype.replaceAll = function (FindText, RepText) {
            return this.replace(new RegExp(FindText, "g"), RepText);
        };
        //发布文章按钮的点击事件，即封装数据，向后台传递
        $("#publishBtn").click(function () {
            console.info("click");
            var postData = {};
            postData.title = $("#titleInput").val();
            postData.category = $("#categoryInput").val();

            //替换双引号为两个单引号，方便编写SQL语句插入数据库中
            var content = editor.txt.html().replaceAll("\"", "\'\'");
            postData.content = content;

            console.info(content);
            postData.author_acc = "123";
            postData.author_name = "admin";
            postData.create_time = new Date().toLocaleDateString();
            postData.last_edit_time = new Date().toLocaleDateString();
            console.info(postData);
            //向后台传递数据，需要根据具体后台来改
            $.post("http://localhost:8099/publishArticle", postData, function (data) {
                alert(data);
            })
        })
    })
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/wangEditor/10.0.13/wangEditor.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/wangEditor/10.0.13/wangEditor.min.js.map"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/wangEditor/10.0.13/wangEditor.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
