<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- 引入 Vue.js 和 Element-UI -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>
    .logo{

        height: 24px; /* 设置标题高度为24像素 */
        font-family: Arial, sans-serif; /* 字体 */
        font-size: 24px; /* 字体大小 */
        color: #000000; /* 字体颜色 */
        text-align: left; /* 对齐方式 */
        margin-top: 20px; /* 距离顶部的间距 */
        border-bottom: 1px solid #000000; /* 添加下边框 */
        border-bottom-color: #000000; /* 改变下边框颜色为红色 */

        padding-bottom: 10px; /* 设置标题与下边框之间的间隔 */
    }
    .status{
        padding:8px;
    }
    .search-bar{
        padding:8px;
    }
    .year-label {
        margin-left: 2em; /* 设置年份标签，可以调整左间距 */
    }
    .search-input {
        width: 30%; /* 设置搜索框的宽度，可以根据需要调整 */
    }
    .e1{
        width: 60%;/*设置el-input属性的宽度*/

    }

    .form-item-flex {
        /*align-items: baseline; !* 单行框头部对齐 *!*/
        margin-bottom: 10px;
    }
    .form-item-flex label {
        white-space: nowrap; /* label文字不换行 */
        /*flex-shrink: 0; !* 防止label缩小，保持原始宽度 *!*/
        /*width: 100px; !* 设置label的宽度 *!*/
        /*margin-right: 10px; !* 可选：添加一些右侧间距 *!*/
    }
    .form-item-flex span {
        margin-right: 5px;
    }
</style>

<style scoped>
    /* 标题行和偶数行背景颜色为灰色 */
    .el-table tr:nth-child(even), .el-table thead {
        background-color: #f0f0f0;
    }
    /* 奇数行背景颜色为白色 */
    .el-table tr:nth-child(odd) {
        background-color: #ffffff;
    }
    /*.search-bar {*/
    /*    display: flex;*/
    /*    justify-content: flex-end;*/
    /*    align-items: center;*/
    /*    margin-bottom: 15px;*/
    /*}*/
</style>
<body>
<div id="app">

    <!-- 任务和实施选项 -->
    <div class="logo">
        <label>信息中心 &nbsp&nbsp 信息发布</label>

    </div>
    <!-- 任务状态和任务时效下拉框 -->

    <div class="status">
        <label>通知类型:</label>
        <el-select v-model="taskStatus" placeholder="请选择">
            <el-option label="不限" value="不限"></el-option>
            <el-option label="未发布" value="未发布"></el-option>
            <el-option label="进行中" value="进行中"></el-option>
            <el-option label="已结束" value="已结束"></el-option>
            <el-option label="复查通过" value="复查通过"></el-option>
        </el-select>
        <label>安全级别:</label>
        <el-select v-model="taskDeadline" placeholder="请选择">
            <el-option label="不限" value="不限"></el-option>
            <el-option label="未逾期" value="未逾期"></el-option>
            <el-option label="已逾期" value="已逾期"></el-option>
        </el-select>
        <label>紧急度:</label>
        <el-select v-model="taskDeadline" placeholder="请选择">
            <el-option label="不限" value="不限"></el-option>
            <el-option label="未逾期" value="未逾期"></el-option>
            <el-option label="已逾期" value="已逾期"></el-option>
        </el-select>

    </div>
    <!-- 年份选择和搜索框 -->
    <div style="clear:both;"></div> <!-- 添加一个清除浮动的空行 -->
    <div class="search-bar">



        <el-input  class="search-input" v-model="search" placeholder="请输入通知标题、通知编号进行模糊查询"></el-input>
        <el-button @click="searchTasks" type="primary">搜索</el-button>
        <el-button @click="reset">重置</el-button>


    </div>

    <div>
        <!--        用于显示所有任务的表格-->
        <el-table :data="tasksPage" style="width: 100%">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="number" label="#" width="20"></el-table-column>
            <el-table-column prop="cover" label="封面" width="100"  ></el-table-column>
            <el-table-column prop="title" label="通知标题" width="180"></el-table-column>
            <el-table-column prop="inspectionType" label="检查类型" width="180"></el-table-column>
            <el-table-column prop="inspectionCount" label="检查频次" width="180"></el-table-column>
            <el-table-column prop="notificationNumber" label="通知编号" width="100"></el-table-column>
            <el-table-column prop="notificationType" label="通知类型" width="100"></el-table-column>
            <el-table-column prop="urgency" label="紧急度"  width="90"></el-table-column>
            <el-table-column prop="publisher" label="发布人"  width="90"></el-table-column>
            <el-table-column prop="securityLevel" label="安全级别"  width="90"></el-table-column>
            <el-table-column label="发布时间" width="200">
                <template slot-scope="scope">
                    {{ scope.row.startDate }} - {{ scope.row.endDate }}
                </template>
            </el-table-column>
            <el-table-column label="操作" width="80">
                <template slot-scope="scope">
                    <div style="display: flex; justify-content: space-around;">
                        <el-button type="primary" icon="el-icon-edit" @click="editTask(scope.row)">编辑</el-button>
                        <el-button type="success" icon="el-icon-view" @click="viewTask(scope.row)">详情</el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="deleteTask(scope.row)">删除</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog
                title="编辑"
                :visible.sync="editDialogVisible"
                width="50%"
                :before-close="handleEditDialogClose">
            <!-- 编辑对话框的表单内容 -->
            <el-form :model="editedTask"  label-width="100px">

                <el-form-item class="form-item-flex" label="封面:" >
                    <el-input class="e1" v-model="editedTask.cover"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="通知标题:">
                    <el-input class="e1" v-model="editedTask.title"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="检查类型:">
                    <el-input class="e1" v-model="editedTask.inspectionType"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="检查频次:">
                    <el-input class="e1" v-model="editedTask.inspectionCount"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="通知编号:" >
                    <el-input class="e1" v-model="editedTask.notificationNumber"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="通知类型:">
                    <el-input class="e1" v-model="editedTask.notificationType"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="隐患数:">
                    <el-input class="e1" v-model="editedTask.hiddenDangerCount"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="紧急度:">
                    <el-input class="e1" v-model="editedTask.urgency"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="发布人:">
                    <el-input class="e1" v-model="editedTask.publisher"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="安全级别:">
                    <el-input class="e1" v-model="editedTask.securityLevel"></el-input>
                </el-form-item>
                <el-form-item class="form-item-flex" label="发布时间:">
                    <el-date-picker
                            v-model="editedTask.startDate"
                            type="datetime"
                            placeholder="选择日期和时间"
                            format="yyyy-MM-dd "
                            value-format="yyyy-MM-dd"
                            clearable
                            style="width: 60%;"
                    ></el-date-picker>
                </el-form-item>
                <el-form-item class="form-item-flex" label="结束时间:">
                    <el-date-picker
                            v-model="editedTask.endDate"
                            type="datetime"
                            placeholder="选择日期和时间"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            clearable
                            style="width: 60%;"
                    ></el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">取消</el-button>
                <el-button type="primary" @click="saveEditedTask">保存</el-button>
            </div>
        </el-dialog>

        <!--           所有任务表格的 分页设置，currentPage当前页码，pageSize一页显示多少数据-->
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[2, 10, 20, 50]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="tasks.length">
        </el-pagination>
    </div>

    <!-- 弹窗：发起临时任务 -->
    <el-dialog :visible.sync="temporaryTaskDialogVisible" title="发起临时任务" :width="800">
        <!-- 巡查计划信息部分 -->
        <el-form ref="temporaryTaskForm" :model="temporaryTaskForm" label-width="100px">
            <el-form-item  label="检查类型:" prop="inspectionType">
                <!--                多选一的单选-->
                <el-radio-group v-model="temporaryTaskForm.inspectionType">
                    <el-radio label="综合检查">综合检查</el-radio>
                    <el-radio label="专项检查">专项检查</el-radio>
                    <el-radio label="日常检查">日常检查</el-radio>
                    <el-radio label="节假日检查">节假日检查</el-radio>
                    <el-radio label="季节性检查">季节性检查</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item  label="任务编号:" class="form-item-flex" prop="number">
                <el-input class="e1" v-model="temporaryTaskForm.number" placeholder="请输入编号"></el-input>
            </el-form-item>
            <el-form-item  label="任务名称:" class="form-item-flex" prop="taskName">
                <el-input class="e1" v-model="temporaryTaskForm.taskName" placeholder="请输入任务名称"></el-input>
            </el-form-item>

            <el-form-item class="form-item-flex" label="被检查企业:" prop="company">
                <el-input class="e1" v-model="temporaryTaskForm.company" placeholder="请输入被检查企业"></el-input>
            </el-form-item>

            <el-form-item class="form-item-flex" label="隐患数量:" prop="hiddenDangerCount">
                <el-input class="e1" v-model="temporaryTaskForm.hiddenDangerCount" placeholder="请输入隐患数量"></el-input>
            </el-form-item>

            <el-form-item class="form-item-flex" label="检查人:" prop="inspector">
                <el-input class="e1" v-model="temporaryTaskForm.inspector" placeholder="请输入检查人"  >
                    <i slot="suffix" class="el-icon-user-solid" @click="openDialog"></i>
                </el-input>
            </el-form-item>

            <el-form-item class="form-item-flex" prop="date">
                <template slot="label">
                    <span>起止时间:</span>
                </template>
                <template>
                    <el-date-picker
                            v-model="temporaryTaskForm.startDate"
                            type="date"
                            start-placeholder="开始日期"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd"
                    ></el-date-picker>
                    <span style="margin: 0 5px;">-</span>
                    <el-date-picker
                            v-model="temporaryTaskForm.endDate"
                            type="date"
                            end-placeholder="结束日期"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd"
                    ></el-date-picker>
                </template>
            </el-form-item>

            <!--            <el-form-item class="form-item-flex" label="检查次数:" prop="checktimes">-->
            <!--                &lt;!&ndash;                多选一的单选&ndash;&gt;-->
            <!--                <el-radio-group v-model="temporaryTaskForm.checktimes">-->
            <!--                    <el-radio label="不重复">不重复</el-radio>-->
            <!--                    <el-radio label="重复">重复</el-radio>-->
            <!--                </el-radio-group>-->
            <!--            </el-form-item>-->

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="temporaryTaskDialogVisible = false">取消</el-button>
            <el-button type="primary" @click="submitTemporaryTaskForm">确定</el-button>
        </div>

    </el-dialog>

    <!-- 设定查询表部分 -->
    <el-dialog title="选择检查人" :visible.sync="dialogVisible" @close="closeDialog">
        <!-- 顶部选项卡 -->
        <el-tabs v-model="currentTab" @tab-click="handleTabClick">
            <el-tab-pane label="政府" name="government"></el-tab-pane>
            <el-tab-pane label="网格员" name="gridOfficer"></el-tab-pane>
            <el-tab-pane label="巡查员" name="inspector"></el-tab-pane>
        </el-tabs>

        <!-- 搜索框 -->
        <el-form ref="searchForm" :model="searchForm" >
            <el-form-item>
                <el-input class="e1" v-model="searchForm.keyword" placeholder="输入姓名，部门，岗位查询"></el-input>
                <el-button type="primary" @click="search">搜索</el-button>
                <el-button @click="resetSearch">重置</el-button>
            </el-form-item>
        </el-form>

        <!-- 表格 绑定tableData分页后的内容-->
        <el-table :data="tableDataPage" style="width: 100%">
            <el-table-column type="selection"></el-table-column>
            <el-table-column prop="number" label="#" width="20"></el-table-column>
            <el-table-column prop="name" label="人员姓名" width="80"></el-table-column>
            <el-table-column prop="unit" label="监督单位" width="120"></el-table-column>
            <el-table-column prop="area" label="行政区域" width="80"></el-table-column>
            <el-table-column prop="phone" label="手机号" width="150"></el-table-column>
            <el-table-column prop="department" label="部门" width="80"></el-table-column>
            <el-table-column prop="job" label="岗位" width="80"></el-table-column>
            <el-table-column prop="role" label="角色" width="120"></el-table-column>
            <!-- 其他列省略，请根据你的数据结构添加 -->
            <el-table-column label="操作" width="150">
                <template slot-scope="scope">
                    <el-button
                            :type="scope.row.used ? 'danger' : 'primary'"
                            @click="handleButtonClick(scope.row)">
                        {{ scope.row.used ? '已使用' : '未使用' }}
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--            分页设置-->
        <el-pagination
                @size-change="SizeChange"
                @current-change="CurrentChange"
                :current-page="Page"
                :page-sizes="[2, 10, 20, 50]"
                :page-size="Size"
                layout="total, sizes, prev, pager, next, jumper"
                :total="tableData.length">
        </el-pagination>

        <div slot="footer" class="dialog-footer">
            <el-button @click="closeDialog">取消</el-button>
            <el-button type="primary" @click="submitTaskForm">确定</el-button>
        </div>
    </el-dialog>
    <!-- 这里可以添加设定查询表的内容，比如el-table等 -->
</div>

<script>
    // import EditForm from './EditForm.vue';
    // import Table from './Table.vue';
    //
    new Vue({
        el: '#app',

        data() {
            return {
                taskStatus: '不限',
                taskDeadline: '不限',
                selectedDate: '',
                search: '',
                temporaryTaskDialogVisible: false,
                temporaryTaskForm: {
                    inspectionType: [],
                    taskName: '',
                    inspectionRequirement: '',
                    checkedcompany:'',
                    checker:'',
                    date:[],
                    startDate: '',
                    endDate: '',
                    checktimes:[],
                },
                pickerOptions: {
                    shortcuts: [
                        {
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                // start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', [start, end]);
                            }
                        }
                    ]
                },
                tasks: [] , // 获取数据库中所有任务的数组

                editDialogVisible: false,
                editedTask: {},

                currentPage: 1, // 当前页数
                pageSize: 2, // 每页显示的记录数

                dialogVisible: false,//检察人员弹窗

                currentTab: 'government', // 默认选中政府
                searchForm: {
                    keyword: '',
                },
                tableData:[], // 表格数据
                Page: 1, // 当前页数
                Size: 2, // 每页显示的记录数
            };
        },
        mounted() {
            this.getAllTasks();
            this.getAllofficial();
        },
        computed: {
            // 对tasks[]数组进行分页的设置
            tasksPage() {
                // 根据currentPage和pageSize计算分页后的数据
                const startIndex = (this.currentPage - 1) * this.pageSize;
                const endIndex = startIndex + this.pageSize;
                return this.tasks.slice(startIndex, endIndex);
            },
            // 对tableData[]数组进行分页的设置
            tableDataPage() {
                const Index = (this.Page - 1) * this.Size;
                const end = Index + this.Size;
                return this.tableData.slice(Index, end);
            }
        },
        methods: {
            //第一个弹窗的方法
            getAllTasks() {
                // 发起HTTP请求，获取数据
                axios.get('/all')
                    .then(response => {
                        // 将从后端获取的数据赋值给tasks[]属性
                        this.tasks = response.data;
                    })
                    .catch(error => {
                        console.error('获取任务时发生错误', error);
                        console.log('完整的错误响应:', error.response);
                    });
            },
            //获取所有检查人方法
            getAllofficial(){
                axios.get('/allofficial')
                    .then(response => {
                        // 将从后端获取的数据赋值给tasks[]属性
                        this.tableData = response.data;
                    })
                    .catch(error => {
                        console.error('获取任务时发生错误', error);
                        console.log('完整的错误响应:', error.response);
                    });
            },
            //tasks[]中的分页方法，获取每页显示几条记录的pageSize和当前页数的currentPage
            handleSizeChange(val) {
                this.pageSize = val;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
            },
            //tableData[]中的分页方法，获取每页显示几条记录的Size和当前页数的Page
            SizeChange(val) {
                this.Size = val;
            },
            CurrentChange(val) {
                this.Page = val;
            },
            searchTasks() {
                // 处理搜索逻辑
                console.log('Searching tasks...');
            },
            reset() {
                // 重置表单
                this.search = '';
            },
            editTask(task) {
                this.editedTask = { ...task }; // 使用浅拷贝以防止直接修改原始数据
                this.editDialogVisible = true;
            },
            saveEditedTask() {
                // 发送编辑后的数据到后端
                axios.post('/updateTask', this.editedTask)
                    .then(response => {
                        // 处理保存成功的逻辑
                        this.editDialogVisible = false;
                        this.getAllTasks();
                    })
                    .catch(error => {
                        // 处理保存失败的逻辑
                        console.log(this.editedTask);
                        console.error('保存失败：', error);
                    });
            },
            updateTableContent() {
                // 更新表格内容的方法
                this.getAllTasks();
            },
            handleEditDialogClose(done) {
                // 处理对话框关闭的逻辑，比如重置表单
                done();
            },
            viewTask(task) {
                // 查看任务的逻辑
                console.log("View task:", task);
            },
            deleteTask(task) {
                // 删除任务的逻辑
                // 使用Axios发送删除请求
                axios.delete('/deleteTask', { data: task })
                    .then(response => {
                        // 处理成功的情况，例如更新UI
                        console.log("成功删除任务");
                        // 可选：更新本地数据以反映删除
                        const index = this.tasksPage.indexOf(task);
                        if (index !== -1) {
                            this.tasksPage.splice(index, 1);
                        }
                    })
                    .catch(error => {
                        // 处理错误
                        console.error("删除任务时出错：", error);
                    });
            },
            openTemporaryTaskDialog() {
                this.temporaryTaskDialogVisible = true;
            },

            // 提交发起临时任务表单
            submitTemporaryTaskForm() {
                // 在这里处理提交逻辑，例如发送请求
                // 提交成功后关闭弹窗
                axios.post('/addTask', this.temporaryTaskForm)
                    .then(response => {
                        // 处理保存成功的逻辑
                        this.temporaryTaskDialogVisible = false;
                        this.getAllTasks();
                    })
                    .catch(error => {
                        // 处理保存失败的逻辑
                        console.log(this.editedTask);
                        console.error('保存失败：', error);
                    });
            },
            exportList(){
                // 创建一个隐藏的表单元素
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = '/table'; // 表单提交的目标 URL
                document.body.appendChild(form);
                form.submit();
            },
            //第二个弹窗的方法
            openDialog() {
                console.log('openDialog called');
                this.dialogVisible = true;
            },
            closeDialog() {
                this.dialogVisible = false;
            },
            submitTaskForm(){
                this.dialogVisible = false;

            },
            // confirmSelection() {
            //     // 将选择的内容拼接到单行框中，这里可以根据需求进行调整
            //     this.temporaryTaskForm.inspectionRequirement = this.selectedItems.join(', ');
            //     this.dialogVisible = false;
            // },
            handleTabClick(tab) {
                // 切换选项卡时，可以在这里根据选项卡的名称请求对应的数据，更新表格内容
                this.currentTab = tab.name;
                this.fetchTableData();
            },
            search() {
                // 根据关键词搜索
                // 更新表格内容
            },
            resetSearch() {
                // 重置搜索条件
                // 更新表格内容
            },
            handleButtonClick(row) {
                row.used = !row.used;
                if (row.used) {
                    // 如果行被标记为已使用，将人员姓名添加到检查人单行框中
                    this.temporaryTaskForm.inspector += (this.temporaryTaskForm.inspector ? ',' : '') + row.name;
                } else {
                    // 如果行被标记为未使用，将人员姓名从检查人单行框中删除
                    const inspectorNames = this.temporaryTaskForm.inspector.split(',');
                    const indexToRemove = inspectorNames.indexOf(row.name);
                    if (indexToRemove !== -1) {
                        inspectorNames.splice(indexToRemove, 1);
                        this.temporaryTaskForm.inspector = inspectorNames.join(',');
                    }
                }
                // 清空单行框的背景颜色
                this.$refs.inspectorInput.$children[0].$el.style.backgroundColor = '';
            },
            fetchTableData() {
                // 根据选项卡名称请求对应的表格数据
            },
            // submitTemporaryTaskForm() {
            //     // 提交表单逻辑
            // },
        }
    });
</script>
</body>
</html>
