<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.software.mapper.UserMapper">

    <select id="getInfo" parameterType="String" resultType="com.example.software.bean.UserBean">
        SELECT * FROM user WHERE name = #{name} AND password = #{password}
    </select>
    <select id="getUserIdByUsernameAndPassword" resultType="java.lang.String">
        SELECT truename
        FROM user
        WHERE name = #{name}
          AND password = #{password}
    </select>

    <insert id="insertInfo" parameterType="com.example.software.bean.UserBean">
        INSERT INTO user (name, password, truename, identity)
        VALUES (#{name}, #{password}, #{truename}, #{identity})
    </insert>

    <select id="checkAuthCode" parameterType="map" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM auth_code
        WHERE auth_code = #{authCode}
          AND identity = #{identity}
    </select>

    <select id="checkUserExists" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM user WHERE name = #{name}
    </select>

    <select id="getname" parameterType="com.example.software.bean.UserBean">
        SELECT truename FROM user WHERE truename = #{truename} AND identity = #{identity}
    </select>

    <select id="getAllUser" resultType="com.example.software.bean.UserBean">
        SELECT * FROM user
    </select>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>